/* TO BE MERGED WITH STYLE.CSS (DRAFT) */

:root{
    .limelight-regular {
        font-family: "Limelight", sans-serif;
        font-weight: 400;
        font-style: normal;
}
    .bebas-neue-regular {
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-style: normal;
}

}


html{
    height: 100%;
}

body {
    margin: 0px;
    height: 100%;
}

main{
    height: 100%
}

#fullheader{
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 1;
    background-color: gray;
    padding-left: 24px;
    padding-right: 24px;

    #title{
        grid-column: 1;
        grid-row: 1;
        font-family: "Limelight", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    nav{
        height: 100%;
        grid-column: 2;
        grid-row: 1;
    }
    #navmenu{
        margin: 0px;
        height: 100%;
        display: flex;
        list-style-type: none;
        justify-content: right;
        align-items: center;
        flex-wrap: wrap;
        gap: 30px;
}

}

/* Hero Banner CSS */
.hero_image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/avengers_hero_banner.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: auto;
}

.hero_text{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
} 

/* Posters for Grid */
.poster img {
    width: 20vw;
    justify-content: center;
    
}

.poster {
    grid-row: 1 / span 2;
}

/* Grid containers */
.container {
    display: grid;
    grid-auto-rows: 500px;
    justify-content: space-between;

}

.nested-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 50px auto;
    justify-content: start;

}

.film-title {
    grid-column: 2 / span 3;
}

.star_rating {
    /* grid-column: 3; */
    width: auto;
    height: 50px;
    object-fit: cover;
}

blockquote {
border:none;
font-family: "Bebas Neue", sans-serif;
margin-bottom:-30px;
position: relative; 
max-width: 400px; 
grid-row: 2;
grid-column: 2 / span 1;
    
}

blockquote p {
    font-size:21px;
}

blockquote p:before { 
    content: "\201C";
    font-weight: bold;
    font-size:100px;
    color:#000000;
    position: absolute; 
    top: -0.2em;
    left: -0.5em; 
    font-family: 'Georgia'; 
} 
blockquote p:after { 
    content: "\201D";
    font-weight: bold;
    font-size:100px;
    color:#000000;
    position: absolute; 
    bottom: 1em;
    right: 1em; 
    font-family: 'Georgia'; 
}




/* Testing */
.anchor_poster {
    width: 200px;
    height: 250px;

}

#anchor_container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;


}

/* contact.css changes here */

main {
    position: relative;
    text-align: center;
    margin: 128px;
    height: 100%;
}

#form {
    position: relative;
    width: 500px;
    margin: 0px auto 0px auto;
}

input {
    width: 470px;
    height: 50px;
    padding: 0px 15px 0px 15px;

    background: transparent;
    outline: none;
    border: solid 1px #e43636;

    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

textarea {
    width: 470px;
    max-width: 470px;
    height: 110px;
    padding: 15px;

    background: transparent;
    outline: none;

    border: solid 1px #e43636;

    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

input:hover, textarea:hover {
    background: #c5bfa8
}

#submit {
    width: 502px;

    padding: 0;
    margin: -5px 0px 0px 0px;

    outline: none;
    cursor: pointer;

    border: solid 1px #e43636;
}

#submit:hover {
    color: #c5bfa8
}